
@keyframes donut1 {
    0% {
        clip-path: circle(1px at left 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 90%);
    }
}
@keyframes donut2 {
    0% {
        clip-path: circle(1px at center 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 90%);
    }
}
@keyframes donut3 {
    0% {
        clip-path: circle(1px at right 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 90%);
    }
}


/* header */

.header {
    position:fixed; z-index:999;
    left:0;
    top:0;
    width:100%;
    padding:50px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 a{
    text-transform:uppercase;
}
.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li a {
    padding:5px 10px; 
    color:#fff;
    text-transform:uppercase;
    transition:0.4s
}
.header ul li a:hover {
    background:#fff;
    color:#333;
    border-radius:15px;
}



/* sec1 */
/* font-family: 'Poppins', sans-serif; */
.sec1{
    overflow:hidden;
}

.clippath > div{
    position:absolute; z-index:2;
    left:0;
    top:0;
    width:100%;
    height:100%;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.clippath > div.active {
    z-index:3;
}

.textbox {
    width:35%;
}
.clippath > div h2 {
    font-family: 'Poppins', sans-serif;
    font-size:80px;
    font-weight: 600;
    display:flex;
    flex-direction: column;
}

.clippath > div h2 .text{
    margin-top:-50px;
}
.clippath > div p {
    mix-blend-mode:darken;
}

.imgbox {
    position:relative; z-index:2;
    width:300px;
    height:400px;
    transform:rotate(-10deg);
    border-radius:15px;
    box-shadow:0 3px 4px rgba(0,0,0,0.7) inset,
    0 3px 4px rgba(0,0,0,0.7);
    transition:0.4s;
}
.imgbox:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#fff;
    border-radius:15px;
    box-shadow:0 3px 4px rgba(0,0,0,0.5);
    transform-origin:100% 100%;
    transition:0.4s;
}
.imgbox:hover:before {
    transform:rotate(15deg);
}

.donut1 {
    background:linear-gradient(45deg, #794D3D, #A57049);
}

.donut1:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#F3EED9;
    clip-path: circle(600px at right 100%);
}

.donut1 h2 .ctext{
    color:#F3EED9;
}
.donut1.active {
    animation:donut1 1s ease-in;
}

.donut1 .imgbox {
    background:#F3EED9;
}

.donut1 .imgbox:before {
    background:url("../imgs/chocoheader.png") no-repeat #fff;
}



.donut2 {
    background:#FFBDCF;
}

.donut2.active {
    animation:donut2 1s ease-in;
}
.donut2 .textbox {
    text-align: right;
    width:40%;
    order:2;
}
.donut2 .imgbox {
    background:#FFBDCF;
}
.donut2 h2 .ctext{
    color:#fff;
}

.donut2:before {
    content:"";
    position:absolute; z-index:-1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#fff;
    clip-path: circle(600px at left 90%);
}

.donut2 .imgbox:before {
    background:url("../imgs/pinkheader.png") no-repeat #fff;
}





.donut3 {
    background: #FFDFB1;
}
.donut3.active {
    animation:donut3 1s ease-in;
}

.donut3:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#fff;
    clip-path: circle(600px at right 90%);
}
.donut3 .imgbox {
    background: #FFDFB1;
}

.donut3 .ctext {
    color:#fff;
}


.donut3 .imgbox:before {
    background:#fff url("../imgs/wchocolate2.png") no-repeat left top;
}

/* donuts btn */
.donuts {
    display:flex;
    justify-content: center;
    position:absolute; z-index:4;
    bottom:-25%;
    overflow:hidden;
}
.donuts img {
    width:33%;
    transition:0.4s;
    cursor:pointer;
}
.donuts img:hover {
    transform:translateY(-10%);
}
.donuts img.active {
    transform:translateY(-10%);
}

.donut1 .bg-particle, .bg-particle2 {
    position:absolute; z-index:-1;
    opacity:0.3;
    border-radius:50%;
}
.donut1 .bg-particle {
    width:300px;
    height:300px;
    left:30%;
    top:50%;
    background:#E8B3A1;
}
.donut1 .bg-particle:before {
    content:"";
    position:fixed; z-index:1;
    right:30%;
    top:20%;
    width:200px;
    height:200px;
    background:#B07175;
    opacity:1;
    border-radius:50%;
}
.donut1 .bg-particle:after {
    content:"";
    position:fixed; z-index:1;
    left:20%;
    top:15%;
    width:100px;
    height:100px;
    background:#FFE6D6;
    opacity:1;
    border-radius:50%;
}
.donut1 .bg-particle2 {
    left:-300px;
    bottom:10%;
    width:1000px;
    height:1000px;
    background:#AF7E6D;
}



.donut2 .bg-particle, .bg-particle2 {
    position:absolute; z-index:-1;
    opacity:0.3;
    border-radius:50%;
}
.donut2 .bg-particle {
    width:300px;
    height:300px;
    left:30%;
    top:50%;
    background:#FFE3F1;
}
.donut2 .bg-particle:before {
    content:"";
    position:fixed; z-index:1;
    right:30%;
    top:20%;
    width:200px;
    height:200px;
    background:#FFE3F1;
    opacity:1;
    border-radius:50%;
}
.donut2 .bg-particle:after {
    content:"";
    position:fixed; z-index:1;
    left:20%;
    top:15%;
    width:100px;
    height:100px;
    background:#FFE3F1;
    opacity:1;
    border-radius:50%;
}
.donut2 .bg-particle2 {
    right:0px;
    bottom:10%;
    width:1000px;
    height:1000px;
    background:#FFE3F1;
}

.animation {
    position:fixed;
    width:200px;
    height: 200px;
    right:50px;
    bottom:50px;
}
.animation img {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit: cover;
}

