
@keyframes donut1 {
    0% {
        clip-path: circle(1px at left 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 90%);
    }
}
@keyframes donut2 {
    0% {
        clip-path: circle(1px at center 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 90%);
    }
}
@keyframes donut3 {
    0% {
        clip-path: circle(1px at right 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 90%);
    }
}

@keyframes donut1-mo {
    0% {
        clip-path: circle(1px at left 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 50%);
    }
}
@keyframes donut2-mo {
    0% {
        clip-path: circle(1px at center 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 50%);
    }
}
@keyframes donut3-mo {
    0% {
        clip-path: circle(1px at right 90%);
    }
    50% {
        clip-path: circle(100px at center 10%);
    }
    100% {
        clip-path: circle(100% at center 50%);
    }
}

/* section */
#fullpage {
    perspective:700px;
}
.section {
    transform-origin:left center;
    transform:rotate3d(0,1,0,0deg) translateX(0px);
    transition:0.8s;
    transition-delay: 0.4s;
}
.section.transform {
    transform:rotate3d(0,1,0,2deg) translateX(-150px);
}
/* header */

.header {
    position:fixed; z-index:999;
    left:0;
    top:0;
    width:100%;
    padding:30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    perspective:600px;
}
.header h1 a{
    text-transform:uppercase;
}
.toggle {
    position:relative; z-index:999;
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background:#fff;
    font-size:25px;
    cursor:pointer;
    box-shadow:0 3px 4px rgba(0,0,0,0.15);
}
.toggle:before{
    content:"\f0c9";
    font-family:"Font Awesome 5 Free";
    font-weight: 600;
}

.toggle.active:before{
    content:"\f00d";
    font-family:"Font Awesome 5 Free";
    font-weight: 600;
    color:rgb(248, 44, 44);
}
nav {
    position: fixed;
    right:-500px;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:350px;
    height:100vh;
    padding:100px 0px;
    background:#fff;
    box-shadow:-1px 3px 4px rgba(0,0,0,0.15);
    transform-origin:right center;
    transform:rotate3d(0,1,0,45deg);
    transition: 1s ease-in-out;
    perspective: 900px;
    opacity:0;
}
nav.active {
    right:0px;
    transform:rotate3d(0,1,0,-5deg);
    opacity:1;
}
nav ul li a {
    display:flex;
    align-items: center;
    height:60px;
    font-size:20px;
    font-weight:500;
    padding-left:20px;
}
nav ul li a:hover {
    background:#FFE3F1;
}
.fa-circle-notch {
    font-size:16px;
    opacity:0;
    color:#666;
    transform:translateX(-20px);
    transition:0.3s;
}

nav ul li a .text {
    margin-left:5px;
    color:#666;
    transform:translateX(-20px);
    transition:0.3s;
}

nav ul li a:hover .text {
    color:#333;
    transform:translateX(0px);
}

nav ul li a:hover .fa-circle-notch {
    opacity:1;
    color:#333;
    transform:translateX(0px);
}


/* 도넛 애니메이션 */


.animation {
    position:relative;
    width:200px;
    height:200px;
    margin:0 auto;
}

.animation img {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit: cover;
}




/* sec1 */
/* font-family: 'Poppins', sans-serif; */
.sec1{
    overflow:hidden;
}

.clippath > div{
    position:absolute; z-index:2;
    left:0;
    top:0;
    width:100%;
    height:100%;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.clippath > div.active {
    z-index:3;
}

.textbox {
    width:35%;
}
.clippath > div h2 {
    font-family: 'Poppins', sans-serif;
    font-size:80px;
    font-weight: 600;
    display:flex;
    flex-direction: column;
}

.clippath > div h2 .text{
    margin-top:-50px;
}
.clippath > div p {
    mix-blend-mode:darken;
}

.imgbox {
    position:relative; z-index:2;
    min-width:300px;
    min-height:400px;
    transform:rotate(-10deg);
    border-radius:15px;
    box-shadow:0 3px 4px rgba(0,0,0,0.7) inset,
    0 3px 4px rgba(0,0,0,0.7);
    transition:0.4s;
}
.imgbox:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#fff;
    border-radius:15px;
    box-shadow:0 3px 4px rgba(0,0,0,0.5);
    transition:0.6s;
    transform-origin:100% 100%;
}
.imgbox:hover:before {
    transform:translate(130px,-50px) rotate(15deg);
}

.donut1 {
    background:linear-gradient(45deg, #794D3D, #A57049);
}

.donut1:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#F3EED9;
    clip-path: circle(600px at right 100%);
}

.donut1 h2 .ctext{
    color:#F3EED9;
}
.donut1.active {
    animation:donut1 1s ease-in;
}

.donut1 .imgbox {
    background:url(../imgs/chocod.png) center top;
}

.donut1 .imgbox:before {
    background:url("../imgs/chocoheader.png") no-repeat #fff;
}



.donut2 {
    background:#FFBDCF;
}

.donut2.active {
    animation:donut2 1s ease-in;
}
.donut2 .textbox {
    text-align: right;
    width:40%;
    order:2;
}
.donut2 h2 .ctext{
    color:#fff;
}

.donut2:before {
    content:"";
    position:absolute; z-index:-1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#fff;
    clip-path: circle(600px at left 90%);
}

.donut2 .imgbox {
    background:url(../imgs/pinkd.png) center top;
}

.donut2 .imgbox:before {
    background:url("../imgs/pinkheader.png") no-repeat #fff;
}





.donut3 {
    background: #FFDFB1;
}
.donut3.active {
    animation:donut3 1s ease-in;
}

.donut3:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#fff;
    clip-path: circle(600px at right 90%);
}
.donut3 .imgbox {
    background:url(../imgs/wchoco.png) center center;
}

.donut3 .ctext {
    color:#fff;
}


.donut3 .imgbox:before {
    background:#fff url("../imgs/wchocolate2.png") no-repeat left top;
}

/* donuts btn */
.donuts {
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute; z-index:4;
    width:100%;
    bottom:-15%;
    overflow:hidden;
}
.donuts img {
    min-width:350px;
    max-width:550px;
    transition:0.4s;
    cursor:pointer;
}
.donuts img:hover {
    transform:translateY(-10%);
}
.donuts img.active {
    transform:translateY(-10%);
}



/* bg-particle */

@keyframes bg-particle {
    0%{
        transform:scale(0.01);
    }
    70%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}
.bg-particle, .bg-particle2 {
    position:absolute; z-index:-1;
    opacity:0.3;
    border-radius:50%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}
.bg-particle:before {
    content:"";
    position:fixed; z-index:1;
    border-radius:50%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    transform:scale(0.01);
    animation:bg-particle 0.8s ease-in 1.7s forwards;
}
.bg-particle:after {
    content:"";
    position:fixed; z-index:1;
    border-radius:50%;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    transform:scale(0.01);
    animation:bg-particle 0.8s ease-out 1.6s forwards;
}

.bg-particle2 {
    transform:scale(0.01);
    animation:bg-particle 0.8s ease-out 0.8s forwards;
}

.donut1 .bg-particle {
    width:300px;
    height:300px;
    left:30%;
    top:50%;
    background:#E8B3A1;
}
.donut1 .bg-particle:before {
    right:30%;
    top:20%;
    width:200px;
    height:200px;
    background:#B07175;
}
.donut1 .bg-particle:after {
    left:20%;
    top:15%;
    width:100px;
    height:100px;
    background:#FFE6D6;
}
.donut1 .bg-particle2 {
    left:-300px;
    bottom:10%;
    width:1000px;
    height:1000px;
    background:#AF7E6D;
}



.donut2 .bg-particle {
    width:300px;
    height:300px;
    left:30%;
    top:50%;
    background:#FFE3F1;
}
.donut2 .bg-particle:before {
    right:40%;
    top:25%;
    width:100px;
    height:100px;
    background:#FFE3F1;
}

.donut2 .bg-particle:after {
    left:20%;
    top:15%;
    width:100px;
    height:100px;
    background:#FFE3F1;
}
.donut2 .bg-particle2 {
    right:-300px;
    bottom:10%;
    width:800px;
    height:800px;
    background:#FFE3F1;
}



.donut3 .bg-particle {
    width:300px;
    height:300px;
    left:30%;
    top:50%;
    background:#FFEDCB;
}
.donut3 .bg-particle:before {
    right:30%;
    top:20%;
    width:200px;
    height:200px;
    background:#F4DED6;
}
.donut3 .bg-particle:after {
    left:38%;
    top:15%;
    width:100px;
    height:100px;
    background:#FFC1B4;
}
.donut3 .bg-particle2 {
    left:-300px;
    bottom:10%;
    width:1000px;
    height:1000px;
    background:#FFEDCB;
}



/* sec2 */
.contents {
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.contents .docon {
    position:relative;
    min-width:350px;
    height:550px;
    background:#999;
    margin:10px;
    overflow:hidden;
}
.docon img {
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
}
.learn {
    width:100%;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.learn h3 {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom:15px;
    font-size:60px;
}
.donut {
    width:100%;
    text-align:center;
    color:#fff;
}
.sale {
    width:100%;
    margin-top:-40px;
    text-align:center;
    color:#fff;
}

.learnbtn {
    display:flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:50px;
    background:#fff;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}
.learnbtn:hover {
    box-shadow: 0 3px 4px rgba(0,0,0,0.15) inset;
}
/* 첫번째 초코 도넛 애니메이션 */

.docon:nth-child(1) {
    background:#FFE8D2;
    transform:translateY(-50px);
    transition:0.4s;
    opacity:0;
}
.docon:nth-child(1).active {
    transform:translateY(0);
    opacity:1;
}
.docon:nth-child(1):before {
    content:"";
    position:absolute; left:-250px; top:-500px;
    width:100%;
    height:500px;
    background:#A97562;
    transform:skewX(-45deg);
    transition:0.4s;
    transition-delay: 1.2s;
}
.docon:nth-child(1) img {
    transition:0.8s ease-out;
}
.docon:nth-child(1) img:nth-child(1){
    transition-delay: 0.8s;
    transform:translateY(-600px);
}
.docon:nth-child(1) img:nth-child(2){
    transition-delay: 0.6s;
    transform:translateY(-600px);
}
.docon:nth-child(1) img:nth-child(3){
    transition-delay: 0.4s;
    transform:translateY(-600px);
}
.docon:nth-child(1).active img {
    transform:translate(0, 0);
}
.docon:nth-child(1).active::before {
    top:0;
}

/* 두번째 핑크 도넛 애니메이션 */

.docon:nth-child(2) {
    background:#FF6DB2;
    transform:translateY(-50px);
    transition:0.4s;
    opacity:0;
}
.docon:nth-child(2).active {
    transform:translateY(0);
    opacity:1;
}

.docon:nth-child(2) .learn {
    bottom:50px;
}

.learn h3 {
    margin-bottom: 0;
}

.docon:nth-child(2):before {
    content:"";
    position:absolute;
    width:0px;
    height:700px;
    bottom:-100px;
    background:#564147;
    transform:skewX(-45deg);
    transition:0.6s;
    transition-delay: 1s;
}
.docon:nth-child(2) img {
    transition:0.8s ease-out;
}
.docon:nth-child(2) img:nth-child(1){
    transition-delay: 0.4s;
    transform:translate(-300px, -300px);
}
.docon:nth-child(2) img:nth-child(2){
    transition-delay: 0.2s;
    transform:translate(300px, -300px);
}
.docon:nth-child(2).active img {
    transform:translate(0, 0);
}
.docon:nth-child(2).active:before {
    width:100%;
}

/* 세번째 핑크 도넛 애니메이션 */

.docon:nth-child(3) {
    background:#F29366;
    transform:translateY(-50px);
    transition:0.4s;
    opacity:0;
}
.docon:nth-child(3).active {
    transform:translateY(0);
    opacity:1;
}
.docon:nth-child(3):before {
    content:"";
    position:absolute;
    right:-120px;
    top:0;
    width:300px;
    height:100%;
    background:#A16A50;
    transform:skewX(-15deg) translateX(300px);
    transition:0.5s;
    transition-delay: 1s;
}
.docon:nth-child(3) img {
    transition:0.8s ease-out;
}
.docon:nth-child(3) img:nth-child(1){
    transition-delay: 0.8s;
    transform:translateY(500px);
}
.docon:nth-child(3) img:nth-child(2){
    transition-delay: 0.6s;
    transform:translateY(500px);
}
.docon:nth-child(3) img:nth-child(3){
    transition-delay: 0.4s;
    transform:translateY(500px);
}
.docon:nth-child(3) img:nth-child(4){
    transition-delay: 0.2s;
    transform:translateY(500px);
}
.docon:nth-child(3).active img {
    transform:translate(0, 0);
}
.docon:nth-child(3).active:before {
    transform:skewX(-15deg) translateX(0);
}
.docon:nth-child(3) h3 {
    padding-right:20px;
}
.docon:nth-child(3) .donut {
    text-align: right;
}
.docon:nth-child(3) .sale {
    text-align: right;
}
.docon:nth-child(3) a {
    margin-left:auto;
    margin-right:20px; 
}

.docon.active:hover {
    transition:0.4s;
    transform:scale(1.05);
}

.sec2bg {
    position:absolute; z-index:-1;
    top:10%;
    width:80%;
    min-width:1200px;
    height:80%;
    margin:0 auto;
    background:#fff;
    overflow:hidden;
    box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}
.sec2bg.active:before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    animation:sec2bg1 2s ease-in forwards 0.3s;
}

.sec2bg.active:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    animation:sec2bg2 2s ease-in forwards 0.3s;
}

.sec2bgc {
    width:100%;
    height:100%;
}
.sec2bgc:before {
    content:'';
    position:absolute;
    left:11%;
    top:8%;
    width:1px;
    height:1px;
    border-radius:50%;
    background:#FFC0ED;
    opacity:0.5;
}
.sec2bgc:after {
    content:'';
    position:absolute; z-index:3;
    right:11%;
    bottom:15%;
    width:1px;
    height:1px;
    background: #FFBDCF;
    border-radius:50%;
    opacity:0.5;
}

.sec2bg.active .sec2bgc:before {
    width:220px;
    height:220px;
    transition:0.4s 2.5s;
}
.sec2bg.active .sec2bgc:after {
    width:150px;
    height:150px;
    transition:0.4s 2.5s;
}
@keyframes sec2bg1 {
    0%{
        clip-path: circle(1px at center 0%);
        background:#FFC0ED;
    }
    50%{
        clip-path: circle(100px at center 50%);
        background:#FFC0ED;
    }
    100%{
        clip-path: circle(450px at left 105%);
        background:#FFC0ED;
    }
}

@keyframes sec2bg2 {
    0%{
        clip-path: circle(1px at center 100%);
        background: #FFBDCF;
    }
    50%{
        clip-path: circle(100px at center 50%);
        background: #FFBDCF;
    }
    100%{
        clip-path: circle(300px at right -5%);
        background: #FFBDCF;
    }
}

/* sec3 궁전 */
.scale-box {
    max-width:1250px;
    height:800px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
.castle-con {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:1.5s;
    transition-delay:0.5s;
    perspective: 700;
}
.castle-con.active {
    transform:scale(1.5);
    top:-10%;
}
.castle {
    width:100%;
    height:100%;
    object-fit: cover;
}

.door {
    position:absolute; z-index:999;
    left:50%;
    transform:translateX(-49%);
    bottom:145px;
    width:265px;
    height:352px;
    perspective:600px;
}
.door:before {
    content:'';
    position:absolute; z-index: -1;
    left:5%;
    top:7px;
    width:90%;
    height:98%;

}
.door > img {
    width:100%;
    height:100%;
    position:absolute;
    object-fit: cover;
    transition:0.8s;
    transition-delay: 1s;
}
.door > img:nth-child(1){
    transform-origin: 5% center;
}
.door > img:nth-child(2){
    transform-origin: 95% center;
}
.castle-con.active .door > img:nth-child(1) {
    transform:rotate3d(0,1,0,-120deg) rotate3d(1,0,0,-3deg);
}
.castle-con.active .door > img:nth-child(2) {
    transform:rotate3d(0,1,0,120deg) rotate3d(1,0,0,-3deg);
}

.docuts {
    position: relative; z-index:-1;
    width:100%;
    height:100%;
    overflow: hidden;
}
.docuts > img {
    position: absolute;
    width:100%;
    height:100%;
    object-fit: cover;
}


.docuts > img:nth-child(8){
    transform:translateY(-300px);
}





.castle-con.active .docuts > img:nth-child(1){
    animation:bdo 1.3s 1.6s forwards;
}
.castle-con.active .docuts > img:nth-child(2){
    animation:bdo 1.4s 1.6s forwards;
}
.castle-con.active .docuts > img:nth-child(3){
    animation:maindo 1.2s 1.6s forwards;
}
.castle-con.active .docuts > img:nth-child(4){
    animation:bdo2 1.3s 1.6s forwards;
}
.castle-con.active .docuts > img:nth-child(5){
    animation:bdo 1.4s 1.6s forwards;
}
.castle-con.active .docuts > img:nth-child(6){
    animation:bdo 1.5s 1.6s forwards;
}
.castle-con.active .docuts > img:nth-child(7){
    animation:bdo2 1.6s 1.6s forwards;
}
.castle-con.active .docuts > img:nth-child(8){
    animation:topdo 1.4s 1.3s forwards;
}

.docuts .learnbtn {
    opacity:0;
    position:absolute;
    left:50%;
    top:25%;
    margin-left:-75px;
    mix-blend-mode: soft-light;
    background:#fff;
}
.castle-con.active .docuts .learnbtn {
    opacity:1;
    transition:0.8s;
    transition-delay: 3s;
}
.docuts .learnbtn:before {
    content:"";
    position:absolute;
    left:5%;
    top:5%;
    width:1%;
    height:90%;
    background:#FF6DB2;
    mix-blend-mode: screen;
    transition:1.5s;
}

.learnbtn:hover:before {
    width:90%;
}
@keyframes maindo{
    0% {
        transform:translateY(0);
    }
    50% {
        transform:translateY(15px);
    }
    75% {
        transform:translateY(-5px);
    }
    100% {
        transform:translateY(0px);
    }
}

@keyframes topdo{
    0% {
        transform:translateY(-300px);
    }
    65% {
        transform:translateY(170px);
    }
    100% {
        transform:translateY(150px);
    }
}

@keyframes bdo {
    0% {
        transform:translateY(0);
    }
    50% {
        transform:translateY(15px);
    }
    75% {
        transform:translateY(-5px);
    }
    100% {
        transform:translateY(60px);
    }
}

@keyframes bdo2 {
    0% {
        transform:translateY(0);
    }
    50% {
        transform:translateY(15px);
    }
    75% {
        transform:translateY(-5px);
    }
    100% {
        transform:translateY(40px);
    }
}

.docuts:before {
    content: '';
    position: absolute;
    top:7px;
    left:2.5%;
    width:95%;
    height: 100px;
    background: url("../imgs/chocoheader.png") left center;
    background-position-x: 0%;
    background-position-y: 75%;
    transition:15s;
    animation:bg-ani 30s linear infinite alternate;
}

@keyframes bg-ani {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}


.contect-container {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contect-container:before {
    content:"";
    position:absolute;
    bottom:0;
    width:100%;
    min-width:1600px;
    height:300px;
    margin:0 auto;
    background:url("../imgs/5918874.png") no-repeat top;
    background-size:50%;
}
.contect-container:after {
    content:"";
    position:absolute; z-index: -1;
    top:calc(50%-100px);
    width:100%;
    min-width:1400px;
    height:200px;
    margin:0 auto;
    background:linear-gradient(to right, transparent, #FFBDCF, transparent);
    opacity:1;
}
.contect_us {
    position:relative;
    width:800px;
    height:500px;
    background:#fff;
    padding:70px 50px 0 200px;
    box-shadow:0 1px 4px rgba(0,0,0,0.5);
}
.contect_us:after {
    content:"";
    position:absolute;
    left:-175px;
    top:50px;
    width:350px;
    height:400px;
    background:url("../imgs/contact.png") no-repeat center #fff;
    background-size:90% 90%;
    box-shadow:0 3px 4px rgba(0,0,0,0.5);
    transform:rotate(-5deg);
}
.contect_us:before {
    content:"";
    position:absolute;
    right:-35px;
    bottom:-50px;
    width:150px;
    height:200px;
    background:url("../imgs/lovely-fashionable-teenage-girl-holds-glazed-sweet-doughnuts-eyes-keeps-lips-rounded.png") no-repeat center #fff;
    background-size:90% 90%;
    box-shadow:0 3px 4px rgba(0,0,0,0.5);
    transform:rotate(5deg);
}
.contect_us ul {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.contect_us ul li {
    position: relative;
}
.contect_us ul li:nth-child(1),
.contect_us ul li:nth-child(2){
    width:47%;
}
.contect_us ul li:nth-child(3),
.contect_us ul li:nth-child(4){
    width:100%;
}
.contect_us ul li input, 
.contect_us ul li textarea {
    width:100%;
    margin-bottom:50px;
    border:none;
    border-bottom:1px solid #777;
}
.contect_us ul li textarea {
    min-height:100px;
    resize:none;
}
.contect_us ul li span {
    position:absolute;
    left:0;
    top:0;
    font-size:18px;
    font-weight: 400;
    text-transform:capitalize;
    transition:0.3s;
    pointer-events: none;
}
.contect_us ul > input {
    margin:0 auto;
    padding:10px 20px;
    font-size:20px;
    font-weight: 300;
    border:none;
    cursor:pointer;
}
.contect_us ul li input:focus ~span,
.contect_us ul li textarea:focus ~span{
    font-size:14px;
    color:red;
    transform:translateY(-25px);
}

.contect_us ul li input:valid ~span,
.contect_us ul li textarea:valid ~span {
    font-size:14px;
    color:green;
    transform:translateY(-25px);
}

.contect_us ul li span:before,
.contect_us ul li span:before {
    content:"\f00c";
    font-family:"Font Awesome 5 Free";
    font-weight: 600;
    position:absolute;
    right:-20px;
    opacity:0;
    transition:0.3s;
}
.contect_us ul li input:valid ~span:before,
.contect_us ul li textarea:valid ~span:before {
    opacity:1;
}

@media screen and (max-width:768px){


    /* sec1 */

    .header {
        padding: 10px 30px;
    }

    .clippath > div {
        padding:100px 30px;
        justify-content: center;
        flex-direction: column;
    }

    .donut1.active {
        animation:donut1-mo 1s ease-in;
    }
    .donut2.active {
        animation:donut2-mo 1s ease-in;
    }
    .donut3.active {
        animation:donut3-mo 1s ease-in;
    }

    .donut1:before {
        clip-path: circle(300px at right 90%);    
    }
    .donut2:before {
        clip-path: circle(300px at right 90%);    
    }
    .donut3:before {
        clip-path: circle(300px at right 90%);    
    }



    .imgbox {
        min-width: 270px;
        min-height: 360px;
    }

    .textbox {
        width: 100%;
        margin-bottom:30px;
    }

    .donut2 .textbox {
        width:100%;
        text-align:start;
        order: 0;
    }
    

    .clippath > div h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
    }

    .clippath > div h2 .text {
        margin-top: -25px;
    }

    .clippath > div p {
        display:none;
    }

    .imgbox {
        transform: rotate(0deg);
    }

    .donuts {
        bottom: 0;
    }
    .donuts > img {
        min-width:33%;
    }
    /* sec2 */

    .contents .docon {
        position: absolute;
        cursor:pointer;
        min-width: 270px;
        height: 450px;
    }
    /* sec3 */

    .scale-box {
        height: 600px;
    }

    .door {
        bottom: 107px;
        width: 200px;
        height: 267px;
    }

    /* contact us */

    .contect-container {
        padding:0 20px;
    }
    .contect_us {
        width: 100%;
        height: 500px;
        background: #fff;
        padding: 70px 20px;
        box-shadow: 0 1px 4px rgb(0 0 0 / 50%);
    }
    .contect_us:before {
        right: -15px;
        bottom: -30px;
        width: 80px;
        height: 130px;
    }
    .contect_us:after {
        left: -20px;
        top:auto;
        bottom: -20px;
        width: 100px;
        height: 150px;
    }

    .contect_us ul li:nth-child(1), .contect_us ul li:nth-child(2) {
        width: 100%;
    }

    .contect_us ul li input, .contect_us ul li textarea {
        margin-bottom: 30px;
    }
}